body{
    background-color:#fff;
}

.formulario {
    position: relative;
    background-color: lightgray;
    background-size:contain;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: dimgray;
}
